/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.caja{
    background-color: tomato;
    width: 200px;
    height: 200px;
    padding: 100px;
    border: 5px solid black;

}
div{
    margin: 10px;
}