/* Reseteo del CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Bloque base */
.card {
border: 1px solid #ccc;
padding: 20px;
margin: 15px;
background-color: #fff;
border-radius: 6px;
}

/* Modificador del bloque */
.container{
    border-color: black;
}

.card--featured {
border-color: gold;
background-color: #fffbe6;
}

/* Elementos */
.card__title {
font-size: 1.5rem;
margin-bottom: 10px;
}

.card__description {
font-size: 1rem;
margin-bottom: 15px;
}

.card__button {
padding: 10px 15px;
border: none;
border-radius: 4px;
cursor: pointer;
}

/* Modificadores de elementos */
.card__button--primary {
background-color: #007bff;
color: white;
}

.card__button--secondary {
background-color: #6c757d;
color: white;
}

/* Estilo del Header */
header{
    color: gray;
    text-align: center
}

/* Estilo del Nav */
nav a:hover {
color: orange; /* el texto se vuelve naranja */
text-decoration: underline;
}
nav{
text-align: center;
color: blueviolet;

/* Estilo del Main */
}
main{
    text-align: justify;
    padding: 30px;
}

/* Estilo del h1 */
h1{
color: red;
}

/* Estilo del h2 */
h2{
    color: green;
}

/* Estilo del Footer */
footer{
    text-align: center;
    color: blue;

}